@use "sass:color";
@use "variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

// color: color.adjust($primary, $lightness: -60%);

body {
  font-family: "Inter", "Baloo Da 2", sans-serif;
  color: $text;
}

.snap-x {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  div,
  span,
  section,
  aside {
    scroll-snap-align: start;
  }
}
.snap-y {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  div,
  span,
  section,
  aside {
    scroll-snap-align: start;
  }
}
