@use "sass:color";
@use "variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html {
  // overflow-y: scroll;
  // scroll-snap-type: y mandatory;

  section,
  header {
    scroll-snap-align: start;
  }
}
body,
textarea {
  font-family: "Inter", "Baloo Da 2", sans-serif;
  color: $text;
}

.snap-x {
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}
.snap-y {
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;

  div,
  span,
  section,
  aside {
    scroll-snap-align: start;
  }
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1;
  margin: 0;
  font-weight: 500;

  @media screen and (max-width: 768px) {
    font-weight: 400;
  }
}

.button-3d {
  background: linear-gradient(45deg, #ff416c, #ff4b2b);
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(255, 75, 43, 0.4),
    0px 0px 5px rgba(255, 65, 108, 0.4);
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: perspective(500px) rotateY(15deg);
    box-shadow: 0px 0px 10px rgba(255, 75, 43, 0.6),
      -2px -2px 10px rgba(255, 65, 108, 0.6);
    background: linear-gradient(45deg, #ff4b2b, #ff416c);
    text-shadow: 0 2px 3px #111111a8;
    transition: all 0.3s ease;
  }

  &:active {
    transform: perspective(500px) rotateY(15deg) translateY(2px);
    box-shadow: inset 4px 4px 10px rgba(255, 75, 43, 0.5),
      inset -4px -4px 10px rgba(255, 65, 108, 0.5);
    transition: all 0.3s ease;
  }
}

.overflow-hidden {
  overflow: hidden;
}
