@use "sass:color";
@use "variables" as *;

// color: color.adjust($primary, $lightness: -60%);

nav.nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #f8f8f8da;
  backdrop-filter: blur(10px);
  z-index: $z-toper;
}
.inner-nav {
  position: relative;
  width: inherit;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  z-index: $z-top;

  .hamburger {
    position: relative;
    display: none;
    width: 1.6rem;
    height: 1.2rem;
    cursor: pointer;

    span {
      position: absolute;
      display: block;
      width: 100%;
      height: 3px;
      border-radius: 2px;
      background-color: $sub-text;
      transition: all 0.3s ease-in-out;
    }

    span:nth-child(1) {
      top: 0;
    }

    span:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }

    span:nth-child(3) {
      top: 100%;
      transform: translateY(-100%);
    }

    &.active {
      span:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        background-color: $warning !important;
      }

      span:nth-child(2) {
        opacity: 0;
        background-color: $warning !important;
      }

      span:nth-child(3) {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
        background-color: $warning !important;
      }
    }

    @media screen and (max-width: 768px) {
      display: block !important;
    }
  }
  .nav-links {
    position: relative;

    .nav-link {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;

      i {
        display: none;
      }

      .linked {
        position: relative;
        color: $text;
        text-decoration: none;
        font-size: 1rem;
        transition: all 0.2s ease;

        &:hover {
          color: $warning;
          transition: all 0.2s ease;
        }

        &::after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: -5px;
          width: 0;
          height: 2px;
          background-color: $warning;
          transition: width 0.3s ease, left 0.3s ease;
        }

        &:hover::after {
          width: 100%;
          left: 0;
        }
      }
    }
  }
}
.a-bg,
.a-bg2 {
  position: absolute;
  display: none;
  top: 4rem;
  left: 0;
  width: -webkit-fill-available;
  height: 100lvh;
  z-index: $z-down;
}
.a-bg {
  transform: translateX(-100%);
  background-color: #00000050;
  transition: all 0.4s ease;

  &.active {
    transform: translateX(-0%);
    transition: all 0.4s ease;
  }
}
.a-bg2 {
  transform: translateX(-200%);
  background-color: #00000050;
  transition: all 0.5s ease;

  &.active {
    transform: translateX(-0%);
    transition: all 0.5s ease;
  }
}

@media screen and (max-width: 768px) {
  nav.nav {
    .inner-nav {
      .logo {
        margin: 0 auto;
      }
      .nav-links {
        position: absolute;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1.5rem;
        background-color: $light;
        width: 100%;
        transform: translateX(-120%);
        top: 2.6rem;
        height: 100lvh;
        overflow: hidden;
        transition: all 0.5s ease;

        &.active {
          transform: translateX(-35%);
          transition: all 0.4s ease;
        }

        .nav-link {
          top: 5%;
          left: 40%;
          .linked {
            width: 100%;
            font-size: 1rem;
          }

          i {
            font-size: 1.1rem;
            display: block;
          }
        }
      }
    }
    .a-bg,
    .a-bg2 {
      display: block !important;
    }
  }
}

@media screen and (max-width: 420px) {
  nav.nav {
    .inner-nav {
      .nav-links {
        .nav-link {
          .linked {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}
