@use "sass:color";
@use "variables" as *;

// color: color.adjust($primary, $lightness: -60%);

.reels {
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: $z-top;

  .inner-reels {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0 auto;
    height: 100vh;

    .reels-samples {
      width: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      .chevron {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 1.3rem;
        border: 1px solid #ccc;
        transition: all 0.3s ease;
        z-index: $z-top;
        background-color: $lite;

        &:hover {
          background-color: $secondary;
          color: $bg;
          transition: all 0.3s ease;
        }

        &:first-child:hover {
          transform: translateX(-2px);
        }
        &:last-child:hover {
          transform: translateX(2px);
        }

        @media screen and (max-width: 768px) {
          display: none;
        }
      }

      .all-reels {
        width: 100%;
        margin-top: 3rem;
        height: auto;
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.reel-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: auto;
  height: auto;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  // @media screen and (min-width: 1800px) {
  //   width: 78rem;
  // }
  // @media screen and (max-width: 1720px) {
  //   width: 66rem;
  // }
  // @media screen and (max-width: 1320px) {
  //   width: 55rem;
  // }
  // @media screen and (max-width: 1080px) {
  //   width: 44rem;
  // }
  // @media screen and (max-width: 768px) {
  //   width: 33rem;
  // }
}
.reel {
  position: relative;
  display: block;
  width: 10rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  aspect-ratio: 2/4;
  background-color: $slider;
  flex: 0 0 auto;
  overflow: hidden;

  .category {
    top: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #fff;
    position: absolute;
    transition: all 0.5s ease;

    .text-dotted-2 {
      font-size: 1.5rem;
    }

    .btn {
      width: 5rem !important;
    }
  }

  &:hover .category {
    top: 0;
    background-color: #000000b0;
    transition: all 0.5s ease;
  }

  @media screen and (min-width: 1800px) {
    width: 12rem;
  }

  .title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $slider;
    color: $sub-sub-text;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    padding: 0.6rem;
    font-size: 0.8rem;
    transition: all 0.3s ease;

    &:hover {
      background-color: color.adjust($slider, $lightness: 10%);
      transition: all 0.3s ease;
    }
  }

  .thumbnail {
    position: absolute;
    top: 4rem;
    left: 0;
    bottom: 0;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    overflow: hidden;
  }

  .play-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      i {
        color: #ccc;
        transition: all 0.3s ease;
      }
    }

    i {
      color: #fff;
      text-shadow: 0 2px 4px #0000009a;
      font-size: 2rem;
    }
  }

  .duration {
    position: absolute;
    color: $sub-sub-text;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    bottom: 0.5rem;
    right: 0.5rem;
    font-size: 0.7rem;

    a {
      color: #ccc;
    }
  }
}
