
$text: #161616;
$sub-text: #7c7c7c;
$sub-sub-text: #afafaf;
$bg: #ffffff;
$light: #f6f6f6;
$lite: #f6f6f6;
$hard: #eeeeee;
$border: #d4d4d4;
$button: #45cc5d;
$primary: #45cc5d;
$div: #0e999e;
$secondary: #0e999e;
$warning: #f89148;
$z-topest: 10;
$z-toper: 9;
$z-top: 8;
$z-down: 5;
$z-ground: -1;

:root {
  --text: #161616;
  --sub-text: #7c7c7c;
  --sub-sub-text: #afafaf;
  --bg: #ffffff;
  --light: #f6f6f6;
  --lite: #f6f6f6;
  --hard: #eeeeee;
  --border: #d4d4d4;
  --button: #45cc5d;
  --primary: #45cc5d;
  --div: #0e999e;
  --secondary: #0e999e;
  --warning: #f89148;
}
