@use "sass:color";
@use "variables" as *;

.video-modal-box {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100%;
  z-index: $z-max;
  overflow: hidden;

  &::after {
    content: "";
  }

  .inner-modal-box {
    position: relative;
    display: flex;
    width: 90%;
    height: 80%;
    margin-top: 1rem;
    border-right: 1px solid #444;
    background-color: $slider;
    padding: 1.5rem;
    border-radius: 0.5rem;
    z-index: $z-topest;

    @media screen and (max-width: 768px) {
      margin-top: 2rem;
      height: 80%;
      background-color: #00000050;
      border: none;
      align-items: center;
    }

    .main-window {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      padding: 0.5rem;
      border: 1px solid #444;
      color: $bg;
      border-right: 0;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      overflow: hidden;

      @media screen and (max-width: 768px) {
        padding: 0;
      }
    }
    .related-window {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      color: $bg;
      flex: 0 0 20rem;
      padding: 0.5rem;
      overflow-x: hidden;
      overflow-y: scroll;
      border: 1px solid #444;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      scrollbar-width: none;
      @media screen and (max-width: 768px) {
        display: none;
      }

      .related-videos {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        color: $sub-sub-text;

        h4 {
          color: $sub-sub-text;
          font-size: 1.1rem;
        }
      }
    }
  }
}
.overlay-dark {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #000000b0;
}
.modal-ins {
  animation: modal-ins 0.5s ease forwards;
}
.modal-outs {
  animation: modal-outs 0.5s ease forwards;
}
@keyframes modal-ins {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes modal-outs {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.video-border {
  border-bottom: 1px solid color.adjust($text, $lightness: 10%);
  padding: 0.5rem;
}
