@use "sass:color";
@use "variables" as *;

// color: color.adjust($primary, $lightness: -60%);

.videos-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: $z-top;
  margin: 3rem 0;

  .inner-videos {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
    height: auto;
    margin: 0 auto;

    .front-video-container {
      position: relative;
      width: 100%;
      height: inherit;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .row {
        position: relative;
        display: flex;
        gap: 1rem;
        width: inherit;
        height: inherit;

        .video {
          position: relative;
          width: inherit;
          height: inherit;
          overflow: hidden;

          .category {
            top: -100%;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            color: #fff;
            position: absolute;
            transition: all 0.5s ease;
            z-index: $z-top;

            .text-dotted-2 {
              font-size: 2rem;
            }
          }

          &:hover .category {
            top: 0;
            background-color: #000000b0;
            transition: all 0.5s ease;
          }
          .thumbs-loop {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;

            .custom-image-prev {
              width: 100%;
              aspect-ratio: 16/9;
              object-fit: cover;
              object-position: center;
              border-radius: 0.3rem;
            }

            @media screen and (max-width: 768px) {
              grid-template-columns: auto;
              .custom-image-prev {
                &:first-child,
                &:last-child {
                  display: none;
                }
              }
            }
          }
        }
      }

      .cols-1 {
        position: relative;
        width: inherit;
        height: inherit;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(10, 1fr);
        gap: 0.5rem;

        .box-1 {
          grid-column: span 2;
          grid-row: span 4;
        }
        .box-2,
        .box-3 {
          grid-column: span 1;
          grid-row: span 6;
        }
      }
      .cols-2 {
        position: relative;
        width: inherit;
        height: inherit;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(10, 1fr);
        gap: 0.5rem;

        .box-4 {
          grid-column: span 2;
          grid-row: span 5;
        }
        .box-5 {
          grid-column: span 3;
          grid-row: span 5;
        }
        .box-6 {
          grid-column: span 5;
          grid-row: span 5;
        }
      }
    }
  }
}

.box {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  z-index: 1;
  overflow: hidden;

  .video-thumb {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s ease;
    z-index: $z-toper;
    cursor: pointer;

    &.video-thumb-1 {
      height: 30vh;
    }
    &.video-thumb-2,
    &.video-thumb-3 {
      height: 34vh;
    }

    &.video-thumb-4,
    &.video-thumb-5 {
      height: 45.8vh;
    }
    &.video-thumb-6 {
      height: 30vh;
    }
  }
  &:hover {
    .video-thumb {
      transform: scale(1.05);
      transition: all 0.3s ease;
    }
  }

  .video-title {
    display: block;
    position: absolute;
    top: 0;
    padding: 0.5rem;
    text-wrap: wrap;
    width: 100%;
    height: auto;
    color: $bg;
    background-color: $slider;
    transition: all 0.3s ease;
    z-index: $z-topest;
  }
  i {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: $bg;
    text-shadow: 0 2px 3px $text;
    z-index: $z-topest;
    cursor: pointer;

    @media screen and (max-width: 768px) {
      margin-top: 1rem;
      font-size: 2rem;
    }
  }
}
@media screen and (max-width: 768px) {
  .videos-container {
    height: 100% !important;
    overflow: visible !important;
  }
  .inner-videos {
    width: 90% !important;
    height: 100% !important;
  }
  .video-container {
    height: 100%;
    grid-template-columns: 1fr !important;
    overflow: visible !important;
  }
  .box-1 {
    grid-row: span 6 !important;
  }
  .box-6 {
    grid-row: span 10 !important;
  }
}

@media screen and (max-width: 420px) {
  .videos-container {
    height: 100% !important;
  }
  .video-container {
    grid-template-columns: 1fr !important;
    height: 100% !important;
  }

  .cols-1,
  .cols-2 {
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr !important;

    .box {
      grid-column: span 1 !important;
      grid-row: span 1 !important;
      width: 100%;
      height: 10rem;
    }
  }
}
